.menu-btn__burger {
  width: 38px;
  height: 2px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 38px;
  height: 2px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  top: 7px;
}
.menu-btn__burger::after {
  top: -6px;
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  position: absolute;
  height: 100vh;
  background-image: linear-gradient(to top, #0f78bc, #423895);
  width: 250px;
  top: 0;
  padding: 30px;
  align-items: center;
  justify-content: start;
  -webkit-padding-before: 150px;
  padding-block-start: 150px;
  transition: all 0.5s ease-in-out;
  transform: translateX(-100%);
  background-color: black;
  .menu-main-container {
    width: 100%;
    height: 1000vh;
    background: black;
    /* background: #0693e3; */
    ul#menu-main a {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 35px;
      color: white;
      line-height: 1.5em;
    }
  }
}

.show-menu {
  transition: all 0.5s ease-in-out;

  transform: translateX(0);
}

.menu-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 80px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
  z-index: 2;
  top: 49px;
}
.show-menu {
  transition: all 0.5s ease-in-out;

  transform: translateX(0);
}
ul#menu-main li {
  transform: translateX(0px);
  transition: all 0.3s ease-out;
  opacity: 1;
}
ul#menu-main li:hover {
  transform: translateX(10px);
  transition: all 0.3s ease-out;
  opacity: 0.6;
}
ul#menu-main {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  // padding: 30px;
}

.links {
  background: black;
  mix-blend-mode: lighten;
}
