@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

h1 {
 font-size: 3.75rem;
 font-weight: 900;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.13;
 letter-spacing: normal;
 text-align: center;
 color: #fff;
}

h2 {
 font-size: 2.594rem;
 font-weight: bold;
 font-stretch: normal;
 font-style: normal;
 line-height: 1;
 letter-spacing: normal;
 text-align: center;
 color: #000;
}

h3 {
 font-size: 1.719rem;
 line-height: 30px;
 font-weight: 700;
}

p.big {
 font-size: 1.406rem;
 line-height: 30px;
 font-weight: 400;
}
p {
 font-size: 1.25rem;
 line-height: 28px;
}

button {
 font-size: 1.125rem;
 font-weight: bold;
 font-stretch: normal;
 font-style: normal;
 color: white;
 text-transform: uppercase;
 padding: 0 28px;
}
a {
 font-size: 1.125rem;
}
